@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-padding-top: 4rem;
}

.ant-row {
  margin-right: 0 !important;
  margin-left : 0 !important;
}

.bg-main {
  background         : url("https://tcw-images.s3.us-west-2.amazonaws.com/blog-main-bg.png");
  background-size    : fill;
  background-color   : #6603fb;
  background-repeat  : no-repeat;
  background-position: center;
}

a {
  color     : #4312e5;
  transition: all 0.3s;
}

a:hover {
  color: #917df7;
}

img {
  width: 100%;
}